@font-face {
    font-family: "American Captain";
    src: url(../../../public/AmericanCaptain.woff2) format("woff2");
}

@font-face {
    font-family: "Caviar Dreams";
    src: url(../../../public/CaviarDreams.woff2) format("woff2");
}
