@font-face {
    font-family: "American Captain";
    src: url(AmericanCaptain.woff2) format("woff2");
}

@font-face {
    font-family: "Caviar Dreams";
    src: url(CaviarDreams.woff2) format("woff2");
}
