@font-face {
    font-family: "American Captain";
    src: url(.assets/AmericanCaptain.woff2) format("woff2");
}

@font-face {
    font-family: "Caviar Dreams";
    src: url(.assets/CaviarDreams.woff2) format("woff2");
}
