#root {
    width: 100%;
    height: 100%;
    font-family: monospace;
    color: var(--color-text-main);
}

body {
    background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // font-weight: ;
}

// -- FONT SIZE --
// h1 {
//     font-size: var(--h1-font-size);
// }

// p {
//     font-size: var(--p-font-size)
// }
