@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }

    @media (hover: none) {
        &:hover {
            @content;
        }
    }
}

@mixin hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@mixin centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin backgroung-styles {
    left: 0;
    top: 0;
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    max-width: 100%;
    z-index: -100;
    @content;
}
// TODO: add font mixins
