:root {
    background-color: var(--color-background) !important;

    // COLOR
    --color-background: #000000;
    --color-light: #ffffff;
    --color-main: #ff0000;
    --color-main-alt: #cd2929;
    --color-accent: #0048FF;
    --color-ui-default: #C8C8C8;
    --color-ui-hover: #969696;
    --color-ui-hover-alt: #d9d9d9;
    --color-ui-active: #494949;
    --color-text-main: #fff;
    --coolor-text-placeholder: #B1B1B1;
    --color-text-alt: #000;


    // FONT SIZE
    --h1-font-size: 70px;
    --h2-font-size: 60px;
    --h3-font-size: 50px;
    --h4-font-size: 40px;
    --h5-font-size: 30px;
    --h6-font-size: 20px;
    --p-font-size: 18px;

    // SIZES
    --main-width: 500px;
    --button-width: 30px;

    // GAPS
    --main-section-gap: 60px;

    // PADDING / OFFSET
    --site-padding-x: 100px;

    // FONT
    --font-family-ui: "American Captain";
    --font-style: normal;
    --line-height: 1;

    // DECORATIONS
    --border: 1px solid var(--color-main);
    --box-shadow: 1 1 var(--color-dark);
    --border-radius: 10px;

    // ANIMATIONS
    --transition-duration: 0.2s;

    // MEDIA
    // @include tablet {  }
    // @include mobile {  }
}
