.productCard {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    column-gap: 3.5rem; // 64px
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 2.5rem; // 40px
}

.specifications {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 0.5rem; // 8px
    width: 100%;
    max-width: 20rem; // 200px
}
