.main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: var(--main-section-gap);
    padding-top: 150px;
    width: var(--main-width);
    max-width: 500px;
}
