.homepage {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-bottom: 150px;
}

.background {
    @include backgroung-styles;
    background-color: var(--color-background);
}
