.homepageBg {
    position: fixed;
    right: 0;
    left: 0;
    z-index: -700;
    width: 100dvw;
    height: 785px;
    background-image: url('geometry.png');
    background-repeat: no-repeat;
    background-position: center;
}

.content {
    display: flex;
    flex-direction: column;
    row-gap: 1rem; // 16px
}