.addToWishlist {
    width: 39px;
    height: 38px;
}

.basic {
    color: var(--color-text-alt);
}

.clicked {
    color: var(--color-main);

    &:hover {
        color: var(--color-main-alt);
    }
}
