.card {
    padding: 20px;
    background-color: var(--color-light);
    color: var(--color-text-alt);
    border-radius: 26px;
    transition-duration: var(--transition-duration);

    @include hover {
        background-color: var(--color-ui-hover-alt);
    }
}

.headContent {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: end;
    column-gap: 0.3125rem; // 5px
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.875rem; // 14px
}

.productInfo {
    display: flex;
    flex-direction: row;
    column-gap: 0.3125rem; // 5px
    width: fit-content;
}

.imageContainer {
    border-radius: 10px;
    overflow: hidden !important;

    .image {
        background: transparent;
    }
}

.features {
    width: 100%;
}

.price {
    font-weight: black;
}
